body{
background-color: aliceblue;
font-size: 14px;
margin: auto;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header{
background-color: chocolate;
font-size: 20px;
text-decoration: wavy;
padding: 1em;
}

nav{
background-color: aquamarine;
padding: 0.2em;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.top-menu li {
    display: inline-block;
    margin-right: 20px;
}
.top-menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.top-menu a:visited{
    color: red;
}

.top-menu a:hover {
    color: rgb(255, 0, 140);
}



h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkblue;
    margin: auto;
}

img{
    max-width: 250px;
    border: solid;
    border-color: red;
}



footer{
background-color: black;
color:aliceblue;
padding: 1em;

}

.h2spe{
    background-color: blue;
    color: aliceblue;
}

