header{
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: blanchedalmond;
}
nav{
    background-color: aquamarine;
    padding: 0.2em;
    }
    
    nav ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    .top-menu li {
        display: inline-block;
        margin-right: 20px;
    }
    .top-menu a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    
    
    .top-menu a:visited{
        color: red;
    }
    
    .top-menu a:hover {
        color: rgb(255, 0, 140);
    }
main{
    display: flex;
}
article{
    display: flex;
    text-align: left;
    background-color: aqua;
    margin: 5px;
    flex-direction: column;
}
aside{
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-basis: 150px;
}
#footer{
    display: flex;
    text-align: center;
    position: sticky;
    background-color: burlywood;
    bottom: 0;
    z-index: 100;
    justify-content: center;
    align-items: center;
}
